In [1]:
import chronos as cr

Created TAP+ (v1.2.1) - Connection:
	Host: gea.esac.esa.int
	Use HTTPS: True
	Port: 443
	SSL Port: 443
Created TAP+ (v1.2.1) - Connection:
	Host: geadata.esac.esa.int
	Use HTTPS: True
	Port: 443
	SSL Port: 443

## Cantat-Gaudin+2020

In [2]:
#initialize
cc = cr.ClusterCatalog()
cc

ClusterCatalog(catalog_name='CantatGaudin2020')

In [3]:
#info
cc.get_vizier_url()

'https://vizier.u-strasbg.fr/viz-bin/VizieR?-source=J/A+A/633/A99'

In [4]:
df = cc.query_catalog()
df.head()

Using CantatGaudin2020 catalog.

,Cluster,raJ2015,decJ2015,GLON,GLAT,r50,Nstars,pmra,pmdec,parallax,distance,X,Y,Z,Rgc,ra,dec
0,ASCC_10,51.870,34.981,155.723,-17.770,0.558,71,-1.737,-1.368,1.459,672.0,-583.3,263.1,-205.1,8927.2,51.870,34.981
1,ASCC_101,288.399,36.369,68.028,11.608,0.372,75,0.934,1.288,2.488,397.3,145.6,360.9,79.9,8202.3,288.399,36.369
2,ASCC_105,295.548,27.366,62.825,2.063,0.648,127,1.464,-1.635,1.783,551.8,251.8,490.5,19.9,8103.0,295.548,27.366
3,ASCC_107,297.164,21.987,58.904,-1.901,0.174,59,-0.155,-5.156,1.109,878.5,453.5,751.9,-29.2,7922.3,297.164,21.987
4,ASCC_108,298.306,39.349,74.378,6.074,0.537,230,-0.519,-1.690,0.838,1154.0,309.0,1105.1,122.1,8106.7,298.306,39.349

In [5]:
mem = cc.query_catalog(return_members=True)
mem.head()

Using CantatGaudin2020 catalog.

,raJ2015,decJ2015,source_id,parallax,pmra,pmdec,RV,phot_g_mean_mag,bp_rp,Proba,Cluster,ra,dec
0,52.756558,34.689531,221090730122510976,1.3799,-1.601,-1.205,NaN,13.0581,0.9138,0.8,ASCC_10,52.756566,34.689536
1,52.730263,34.341461,221065132117493376,1.6550,-2.455,-1.998,NaN,14.7757,1.2807,0.6,ASCC_10,52.730275,34.341469
2,52.684345,34.003600,220988819138630016,1.5876,-2.437,-0.949,NaN,10.8832,0.7241,0.1,ASCC_10,52.684358,34.003604
3,52.676106,34.733687,221094367958697088,1.5586,-1.532,-1.558,NaN,16.8798,1.8380,0.7,ASCC_10,52.676114,34.733694
4,52.712100,34.578004,221083888238423552,1.4173,-1.403,-1.242,NaN,17.9800,2.2854,0.6,ASCC_10,52.712107,34.578009

In [6]:
df.shape, mem.shape

((1481, 17), (435833, 13))

## Cantat-Gaudin+2018

In [7]:
cc = cr.ClusterCatalog(catalog_name="CantatGaudin2018")
cc.get_vizier_url()

'https://vizier.u-strasbg.fr/viz-bin/VizieR?-source=J/A+A/618/A93'

In [8]:
df = cc.query_catalog()
df.head()

Using CantatGaudin2018 catalog.

,Cluster,ra,dec,GLON,GLAT,r50,Nstars,pmra,pmdec,parallax,distance,X,Y,Z,Rgc
0,ASCC_10,51.870,34.981,155.723,-17.770,0.558,71,-1.737,-1.368,1.459,672.0,-583.3,263.1,-205.1,8927.2
1,ASCC_101,288.399,36.369,68.028,11.608,0.372,75,0.934,1.288,2.488,397.3,145.6,360.9,79.9,8202.3
2,ASCC_105,295.548,27.366,62.825,2.063,0.648,127,1.464,-1.635,1.783,551.8,251.8,490.5,19.9,8103.0
3,ASCC_107,297.164,21.987,58.904,-1.901,0.174,59,-0.155,-5.156,1.109,878.5,453.5,751.9,-29.2,7922.3
4,ASCC_108,298.306,39.349,74.378,6.074,0.537,230,-0.519,-1.690,0.838,1154.0,309.0,1105.1,122.1,8106.7

In [9]:
mem = cc.query_catalog(return_members=True)
mem.head()

Using CantatGaudin2018 catalog.

,raJ2015,decJ2015,source_id,GLON,GLAT,parallax,pmra,pmdec,phot_g_n_obs,Gmag,bp_rp,PMemb,Cluster,ra,dec
0,301.229391,-11.186849,4190669036038417152,30.982256,-21.322445,2.1358,1.268,-8.560,348,14.804825,1.412944,0.7,Alessi_10,301.229385,-11.186812
1,301.014346,-11.419202,4190657903483144960,30.660791,-21.229051,2.2071,1.136,-8.043,331,17.350530,2.605459,1.0,Alessi_10,301.014341,-11.419167
2,300.801432,-11.195500,4190723255705770240,30.783967,-20.945461,2.0438,1.259,-8.064,329,12.473157,0.865277,0.8,Alessi_10,300.801426,-11.195466
3,301.006976,-11.037219,4190732120518267776,31.028893,-21.061430,2.3256,1.189,-8.100,301,16.400896,1.935030,1.0,Alessi_10,301.006971,-11.037184
4,301.678011,-10.865093,4190774206899418880,31.495512,-21.585570,2.2585,1.598,-7.630,322,17.435835,2.370981,1.0,Alessi_10,301.678004,-10.865060

In [10]:
df.shape, mem.shape

((1229, 15), (401448, 15))

## Bossini+2019

In [11]:
cc = cr.ClusterCatalog(catalog_name="Bossini2019")
cc.get_vizier_url()

Downloading all tables in J/A+A/623/A108/tablea from vizier.
{'J/A+A/623/A108/tablea': 'Summary of OCs parameters characterised in this '
                          'study (tables A1-A3)'}
Set clobber=True to overwrite.

'https://vizier.u-strasbg.fr/viz-bin/VizieR?-source=J/A+A/623/A108/tablea'

In [12]:
df = cc.query_catalog()
df.head()

Using Bossini2019 catalog.

,Cluster,ra,dec,log10_age,e_logA,E_logA,dist_mod,dist_mod_e1,dist_mod_e2,AV,e_AV,E_AV,AGTO,e_AGTO,E_AGTO,Fe_H,r_Fe_H,distance
0,Blanco_1,0.853,-29.958,7.975,7.998,7.943,6.876,6.876,6.876,0.031,0.031,0.031,0.030,0.030,0.030,0.00,HRS,237.246602
1,IC_2391,130.292,-52.991,7.561,7.583,7.540,5.908,5.908,5.908,0.093,0.093,0.093,0.091,0.091,0.091,0.00,HRS,151.914770
2,IC_2602,160.613,-64.426,7.547,7.563,7.533,5.914,5.914,5.914,0.096,0.096,0.096,0.094,0.094,0.094,0.00,HRS,152.335106
3,IC_2714,169.373,-62.719,8.550,8.550,8.550,10.711,10.720,10.704,0.991,1.000,0.984,0.967,0.976,0.960,0.02,HRS,1387.394601
4,IC_4665,266.554,5.615,7.581,7.636,7.550,7.450,7.495,7.395,0.397,0.430,0.364,0.388,0.420,0.355,-0.03,HRS,309.029543

mem = cc.query_catalog(return_members=True)
mem.head()

df.shape, mem.shape

## Babusiaux+2018

In [13]:
cc = cr.ClusterCatalog(catalog_name="Babusiaux2018")
cc.get_vizier_url()

'https://vizier.u-strasbg.fr/viz-bin/VizieR?-source=J/A+A/616/A10'

In [14]:
df = cc.query_catalog()
df.head()

Using Babusiaux2018 catalog.

,Cluster,dec,decJ2015,DEconv,Nstars,ra,raJ2015,RAconv,RV,U,...,e_W,e_plx,e_pmDE,e_pmRA,RV_n_obs,parallax,pmdec,pmra,rMax,uwsd
0,alphaPer,49.0601,49.06,-29.7555,740,52.0598,52.06,101.9183,-0.29,-5.110,...,0.097,0.005,0.095,0.071,NaN,5.718,-25.556,22.929,NaN,0.68
1,Blanco1,-30.0900,-30.09,-0.8388,489,0.7199,0.72,73.6042,5.78,6.176,...,0.065,0.003,0.070,0.017,NaN,4.216,2.650,18.724,NaN,0.65
2,ComaBer,26.0900,26.09,-34.3206,153,185.9801,185.98,110.1896,-0.52,-1.638,...,0.040,0.034,0.121,0.048,NaN,11.640,-8.996,-12.111,NaN,0.48
3,Hyades,17.0101,17.01,6.8148,515,67.9795,67.98,97.5407,39.96,-6.059,...,0.025,0.065,0.137,0.171,NaN,21.052,-28.490,101.005,NaN,0.67
4,IC2391,-52.9901,-52.99,-3.4126,325,130.2902,130.29,91.6471,14.59,-0.751,...,0.105,0.007,0.110,0.080,NaN,6.597,23.256,-24.927,NaN,0.68

In [15]:
mem = cc.query_catalog(return_members=True)
mem.head()

Using Babusiaux2018 catalog.

,Cluster,decJ2015,Gmag,raJ2015,source_id,dec,ra,e_plx,parallax
0,Hyades,21.75372,12.861,64.87461,49520255665123328,21.75388,64.87410,0.033,20.866
1,Hyades,18.19388,5.790,60.20378,49729231594420096,18.19400,60.20319,0.045,21.789
2,Hyades,20.42805,12.570,59.80696,51383893515451392,20.42821,59.80634,0.006,22.737
3,Hyades,21.73605,6.990,66.06127,145373377272257664,21.73625,66.06072,0.003,23.109
4,Hyades,21.61972,5.643,67.00371,145391484855481344,21.61990,67.00326,0.067,19.968

In [16]:
df.shape, mem.shape

((46, 31), (40903, 9))

## Bouma+2019

In [17]:
cc = cr.ClusterCatalog(catalog_name="Bouma2019")
cc.get_vizier_url()

'https://vizier.u-strasbg.fr/viz-bin/VizieR?-source=None'

In [18]:
df = cc.query_catalog()
df.head()

Using Bouma2019 catalog.
Some parallaxes are negative in Bouma2019!
These are removed for the meantime.
For proper treatment, see:
https://arxiv.org/pdf/1804.09366.pdf

,Cluster,dec,distance,k13_e_logt,k13_logt,parallax,phot_bp_mean_mag,phot_g_mean_mag,phot_rp_mean_mag,pmdec,pmra,ra,count
0,118TAU,23.569544,106.242354,NaN,NaN,9.412442,13.518909,12.354570,11.282246,-28.354268,7.761713,82.427007,1
1,ABDMG,31.705265,45.836645,NaN,NaN,21.816606,14.296335,13.025639,11.763298,-100.307957,64.861784,56.561986,97
2,AH03_J0822-36.4,-36.407564,1858.138397,NaN,8.915,0.538181,16.184860,15.705580,15.055792,3.345756,-3.555434,125.517644,119
3,AH03_J1725-34.4,-34.411341,1714.096934,NaN,NaN,0.583398,15.837820,14.560573,13.435419,-2.348778,-1.038870,261.376282,3
4,AH03_J2011+26.7,26.725594,2147.299714,NaN,NaN,0.465701,16.392403,15.595353,14.680267,-3.585821,-2.188606,302.997192,11

In [19]:
mem = cc.query_catalog(return_members=True)
mem.head()

Using Bouma2019 catalog.
Some parallaxes are negative in Bouma2019!
These are removed for the meantime.
For proper treatment, see:
https://arxiv.org/pdf/1804.09366.pdf

,source_id,clusters,reference,ext_catalog_name,ra,dec,pmra,pmdec,parallax,phot_g_mean_mag,phot_bp_mean_mag,phot_rp_mean_mag,k13_name_match,Cluster,how_match,not_in_k13,comment,k13_logt,k13_e_logt,distance
0,915553884118144,NaN,Zari_2018_UMS,915553884118144,45.408172,2.168272,-5.332160,-4.481473,2.163371,9.071013,9.128693,8.993386,NaN,NaN,NaN,NaN,NaN,NaN,NaN,462.241463
1,1195551392247936,NaN,Zari_2018_UMS,1195551392247936,43.881549,2.018219,6.070629,-11.761800,6.101615,6.574962,6.582521,6.628116,NaN,NaN,NaN,NaN,NaN,NaN,NaN,163.891049
2,1402912413121792,NaN,Zari_2018_UMS,1402912413121792,44.375186,2.895904,7.408781,-14.308718,2.092020,10.367023,10.427338,10.212925,NaN,NaN,NaN,NaN,NaN,NaN,NaN,478.006813
3,1546703623466880,NaN,Zari_2018_UMS,1546703623466880,42.959304,2.920459,1.597504,1.721123,2.853298,10.033413,10.229258,9.744271,NaN,NaN,NaN,NaN,NaN,NaN,NaN,350.471615
4,1939920764151808,NaN,Zari_2018_PMS,1939920764151808,45.599782,3.707654,2.253568,-8.906024,8.919021,14.358600,15.910364,13.139349,NaN,NaN,NaN,NaN,NaN,NaN,NaN,112.119933

In [20]:
df.shape, mem.shape

((3216, 13), (1040410, 20))

## Castro-Ginard+2020

In [21]:
cc = cr.ClusterCatalog(catalog_name="CastroGinard2020")
cc.get_vizier_url()

'https://vizier.u-strasbg.fr/viz-bin/VizieR?-source=J/A+A/635/A45'

In [34]:
df = cc.query_catalog()
df.head()

Using Grandjean2020 catalog.
Not cluster but young, nearby RV catalog

,Name,HIP,SpType,B-V,Mass,r_Mass,Age,e_Age,TBL,Nsp,RVAmp,RVrms,e_RV,BVS,BVSrms,ra,dec
0,HD105,490.0,G0V,0.600,1.10,2017A&A...603A...3V,45.0,10.0,4606,36,236.8,61.1,4.2,310.7,9.8,1.468937,-41.753068
1,HD984,1134.0,F7V,0.500,1.20,2017A&A...603A...3V,42.0,7.0,867,21,301.9,84.6,16.4,571.8,38.2,3.542721,-7.199115
2,HD987,1113.0,G8V,0.756,0.98,2013A&A...559A..83L,30.0,15.0,2621,19,502.6,116.8,2.5,393.6,6.4,3.470877,-74.688292
3,HD1466,1481.0,F8V,0.540,1.20,2017A&A...603A...3V,45.0,10.0,4400,19,135.8,39.6,7.4,189.8,17.6,4.608848,-63.477495
4,HD3221,2729.0,K4V,1.226,0.90,2010A&A...520A..15M,45.0,10.0,4014,5,4793.4,1794.3,68.6,3115.1,172.5,8.713341,-61.916147

In [35]:
mem = cc.query_catalog(return_members=True)
mem.head()

Using Grandjean2020 catalog.
Not cluster but young, nearby RV catalog

,Name,HIP,SpType,B-V,Mass,r_Mass,Age,e_Age,TBL,Nsp,RVAmp,RVrms,e_RV,BVS,BVSrms,ra,dec
0,HD105,490.0,G0V,0.600,1.10,2017A&A...603A...3V,45.0,10.0,4606,36,236.8,61.1,4.2,310.7,9.8,1.468937,-41.753068
1,HD984,1134.0,F7V,0.500,1.20,2017A&A...603A...3V,42.0,7.0,867,21,301.9,84.6,16.4,571.8,38.2,3.542721,-7.199115
2,HD987,1113.0,G8V,0.756,0.98,2013A&A...559A..83L,30.0,15.0,2621,19,502.6,116.8,2.5,393.6,6.4,3.470877,-74.688292
3,HD1466,1481.0,F8V,0.540,1.20,2017A&A...603A...3V,45.0,10.0,4400,19,135.8,39.6,7.4,189.8,17.6,4.608848,-63.477495
4,HD3221,2729.0,K4V,1.226,0.90,2010A&A...520A..15M,45.0,10.0,4014,5,4793.4,1794.3,68.6,3115.1,172.5,8.713341,-61.916147

In [36]:
df.shape, mem.shape

((89, 17), (89, 17))

## Castro-Ginard+2019

In [25]:
cc = cr.ClusterCatalog(catalog_name="CastroGinard2019")
cc.get_vizier_url()

'https://vizier.u-strasbg.fr/viz-bin/VizieR?-source=J/A+A/627/A35'

In [29]:
df = cc.query_catalog()
df.head()

Using CastroGinard2019 catalog.

,Cluster,raJ2015,e_raJ2015,decJ2015,e_decJ2015,GLON,e_GLON,GLAT,e_GLAT,parallax,e_Plx,pmRA_,e_pmRA_,pmdec,e_pmdec,ra,dec,distance
0,UBC33,7.394417,0.178692,60.491165,0.083802,120.241038,0.088703,-2.266201,0.083161,0.626200,0.030024,-0.939885,0.086550,-0.456,0.062296,7.394425,60.491167,1596.933963
1,UBC34,11.804234,0.218689,66.753464,0.149198,122.514547,0.086261,3.885277,0.149345,1.553352,0.043696,-5.016867,0.310292,-3.096,0.355859,11.804289,66.753477,643.768889
2,UBC35,15.095091,0.112399,55.411167,0.085636,124.211622,0.065036,-7.438306,0.085125,0.785708,0.045186,-4.463749,0.202482,-1.941,0.146563,15.095125,55.411175,1272.737244
3,UBC36,16.470356,0.061778,59.637643,0.057229,124.759019,0.031463,-3.182843,0.057121,0.465522,0.036993,-1.212531,0.187512,-0.462,0.142125,16.470366,59.637645,2148.127897
4,UBC37,20.947962,0.378867,70.582678,0.119143,125.638546,0.128304,7.881516,0.118023,1.334443,0.062159,-6.133094,0.363094,2.085,0.266199,20.948042,70.582669,749.376219

In [30]:
mem = cc.query_catalog(return_members=True)
mem.head()

Using CastroGinard2019 catalog.

,source_id,raJ2015,decJ2015,GLON,GLAT,parallax,pmRA_,pmdec,RV,Gmag,BP-RP,Cluster,ra,dec
0,428632792645221760,7.400521,60.514566,120.246030,-2.243260,0.651464,-0.987376,-0.362,NaN,12.663068,0.933441,UBC33,7.400530,60.514567
1,428631899292045440,7.494622,60.503722,120.291315,-2.257957,0.627265,-0.988620,-0.466,NaN,14.541118,1.053961,UBC33,7.494631,60.503724
2,428630383156838016,7.398641,60.413040,120.236495,-2.344342,0.639726,-0.806818,-0.442,NaN,12.398151,0.639879,UBC33,7.398648,60.413042
3,428630834140163584,7.333766,60.474248,120.209807,-2.280628,0.606291,-0.958046,-0.519,NaN,15.173324,1.247709,UBC33,7.333774,60.474251
4,428637259411238016,7.047023,60.437977,120.065659,-2.304318,0.683495,-1.005962,-0.476,NaN,16.184393,1.303592,UBC33,7.047032,60.437979

In [31]:
df.shape, mem.shape

((53, 18), (2793, 14))

## Grandjean+2020

In [32]:
cc = cr.ClusterCatalog(catalog_name="Grandjean2020")
cc.get_vizier_url()

'https://vizier.u-strasbg.fr/viz-bin/VizieR?-source=J/A+A/633/A44'

In [33]:
df = cc.query_catalog()
df.head()

Using Grandjean2020 catalog.
Not cluster but young, nearby RV catalog

,Name,HIP,SpType,B-V,Mass,r_Mass,Age,e_Age,TBL,Nsp,RVAmp,RVrms,e_RV,BVS,BVSrms,ra,dec
0,HD105,490.0,G0V,0.600,1.10,2017A&A...603A...3V,45.0,10.0,4606,36,236.8,61.1,4.2,310.7,9.8,1.468937,-41.753068
1,HD984,1134.0,F7V,0.500,1.20,2017A&A...603A...3V,42.0,7.0,867,21,301.9,84.6,16.4,571.8,38.2,3.542721,-7.199115
2,HD987,1113.0,G8V,0.756,0.98,2013A&A...559A..83L,30.0,15.0,2621,19,502.6,116.8,2.5,393.6,6.4,3.470877,-74.688292
3,HD1466,1481.0,F8V,0.540,1.20,2017A&A...603A...3V,45.0,10.0,4400,19,135.8,39.6,7.4,189.8,17.6,4.608848,-63.477495
4,HD3221,2729.0,K4V,1.226,0.90,2010A&A...520A..15M,45.0,10.0,4014,5,4793.4,1794.3,68.6,3115.1,172.5,8.713341,-61.916147

mem = cc.query_catalog(return_members=True)
mem.head()